
    /* font-family: Algerian; */
    /* font-family: MV Boli; */

.error{
    
    background-image: url('./../../assets/image/error.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 35px;
    font-family: Felix Titling;
    width: 100vw;
    height: 100vh;
    position: fixed; 
    padding-top: 50px;
    z-index: 3;
    top: 0;
}



.error :before, .error :after {
    content: "";
    position: absolute;
}

h2 {
    -webkit-text-stroke: 0.5px red;
}

 .error_btn {
    /* color: white; */
    border: 3px solid rgb(80, 167, 80);
    border-radius: 50px;
    font: 18px "Margarine", sans-serif;
    cursor: pointer;
	letter-spacing: 2px;
}
 

.err_btn_wrapper {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 50px;
}


.pulse_button .error_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.error_btn{
    background-color: rgb(108, 187, 108) !important;
}


.pulsing {
    width: 99%;
    height: 99%;
    border-radius: 50px;
    z-index: 1;
    position: relative;
}


.pulsing:before, .pulsing:after {
    width: 100%;
    height: 100%;
    border: inherit;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgb(80, 167, 80);
    border-radius: inherit;
    animation: pulsing 2.5s linear infinite;
}


.pulsing:after {
    animation: pulsing1 2.5s linear infinite;
}


@keyframes pulsing {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }
    20% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.2;
        transform: scaleY(1.8) scaleX(1.4);
    }
    80% {
        opacity: 0;
        transform: scaleY(1.8) scaleX(1.4);
    }
    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}


@keyframes pulsing1 {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }
    20% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.2;
        transform: scaleY(1.3) scaleX(1.15);
    }
    80% {
        opacity: 0;
        transform: scaleY(1.3) scaleX(1.15);
    }
    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}